html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}


.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: rgb(183, 111, 250);
}

.navlogo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 0.5rem;
}

.spacer {
  flex: 1;
}

.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  padding: 0 0.5rem;
}
.navbar a {
  color: white;
  text-decoration: none;

}

.navbar a:hover,
.navbar a:active {
  color: brown;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-line {
  width: 25px;
  height: 2px;
  background: white;
}

.hamburger-menu {
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 5px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
}

.hamburger-menu ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-menu li {
  margin: 0.5rem 0;
}

.hamburger-menu a {
  color: blueviolet;
  text-decoration: none;
  font-size: 1.2rem;
}

.summary-container {
  background-color: rgb(221, 221, 135);
  height: 100vh;
  width: 100%;
  margin-top: 50px;
}

.skills-container {
  background-color: rgb(219, 194, 51); 
  height: 100vh;
  width: 100%;
}

.experience-container {
  background-color: rgb(104, 250, 99); 
  height: 100vh;
  width: 100%;
}

.education-container {
  background-color: rgb(79, 218, 120); 
  height: 100vh;
  width: 100%;
}

.portfolio-container {
  background-color: rgb(104, 230, 219);
  height: 100vh;
  width: 100%;
}

.contact-container {
  background-color: rgb(136, 119, 235);
  height: 100vh;
  width: 100%;
}

@media (max-width: 767px) {
  .navbar-items {
    display: none;
  }
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}